<div class="sidenav">
    <a href="http://localhost:4200/add">Add New Employee</a>
    <a href="http://localhost:4200/edit">Edit Employee</a>
    <a href="http://localhost:4200/delete">Delete Employee</a>
</div>
<div class="main">
  <div class="container">

<h2>Employee Details:</h2>
<table class="table table-bordered">
<thead>
  <tr>
    <th width=400>EID</th>
    <th width=400>Name</th>
    <th width=250>Department</th>
    <th width=250>Actions</th>

  </tr>
</thead>
<tbody>
  <tr *ngFor="let employee of employees; let i=index">
    <td>{{employee.eid}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.dep}}</td>
    <td>
      <a class="btn btn-danger" (click)="deleteEmployee(i)">Delete</a>
  </td>

  </tr>

</tbody>
</table>
</div>
</div>
